* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
}
body {
  background-color: #202020;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
}
form input{
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #3578ca;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
form input[type="submit"]:hover {
  background-color: #2868c7;
}

form input[type="submitDisable"] {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #3578ca80;
  text-align: center;
  border: 0;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}


.form-control {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
.form-control :hover{
  cursor: pointer;
}

.form-control + .form-control {
  margin-top: -5px;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  padding: 5px;
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}



input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #2868c7;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.checkbox-user input[type="checkbox"]::before {
  box-shadow: inset 1em 1em #2868c7;
}
.checkbox-admin input[type="checkbox"]::before {
  box-shadow: inset 1em 1em #9e751c;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

form label[for=checkbox] {
  display: flex;
  width: 300px;
  height: 30px;
  background-color: #ffffff00;
  margin-top: -15px;
  color: #757575;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}

.user-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-info {
  width: 160px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
  background-color: rgb(247, 249, 245);
  color: #555555;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.user-lable{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.user-lable:hover {
  cursor: pointer;
}

.icon-login-user{
  background-color: #3578ca;
  color: #ffffff;
}

.icon-login-user:hover{
  cursor: inherit;
}

.icon-login-admin{
  background-color: #d69f27;
  color: #ffffff;
}

.icon-login-admin:hover{
  cursor: inherit;
}

.card {
  width: 400px;
  background-color: #fbfdf8;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.card h1 {
  text-align: left;
  color: #444444;
  font-size: 24px;
  /* padding: 20px 0 20px 0; */
  padding: 30px 0 20px 30px;
  border-bottom: 1px solid #dee0e4;
}

.card .msg-label{
  width: 310px;
  margin: 0px;
}
.card .msg-label .msg {
  text-align: center;
  font-size: 16px;
  padding: 0 0 0 0;
  /* margin-top: -10px; */
  margin: 0px;
}

.card .msg-label .error {
  color: red;
}

.card .msg-label .reminder {
  color: #cccc00;
}

