<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>Admin</title>
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    	<link rel="stylesheet" type="text/css" href="/code-server-plus/views/style/global.css">
    	<link rel="stylesheet" type="text/css" href="/code-server-plus/views/style/admin.css">
		<!-- include the js file -->
	</head>
	<body>
		<div class="header">
			<h1>Admin Panel</h1>
			<div>
				<a href="/">Start Code</a>
				<a>|</a>
				<a href="/logout">Logout</a>
			</div>
		</div>

		<div class="card" id="manage" style="display: none;">
			<h1>Manage User</h1>
			<form>
				<!-- User Info -->
				<label for="msg">
					<p id="msg"></p>
				</label>
				<button class="toCreate" type="create" onclick="window.location.hash = '#create';">
					<i class="fa-solid fa-user-plus"></i> Creare New User
				</button>
			</form>
		</div>
		<div class="card" id="create" style="display: none;">
			<h1>Create New User</h1>
			<form action="/admin/create" method="post">
                <div class="user-card">
                    <label class="user-lable icon-login-user"><i class="fa-solid fa-user"></i></label>
                    <input type="text" name="username" placeholder="USERNAME" id="username" required>
                </div>
                <div class="user-card">
                    <label class="user-lable icon-login-user"><i class="fa-solid fa-lock"></i></label>
                    <input type="password" name="password" placeholder="PASSWORD" id="password" required>
                </div>
				<div class="user-card">
                    <label class="user-lable icon-login-user"><i class="fa-solid fa-lock"></i></label>
                    <input type="password" name="passwordCheck" placeholder="PASSWORD AGAIN" id="passwordCheck" required>
                </div>
				<div class="checkbox-group">
					<label class="form-control checkbox-user" for="checkbox">
						<input type="checkbox" name="setAdmin" onchange="toggleAdminUser(this)"/>
						<p onclick="toggleSetAdmin()">Administrator & SUDO Privileges</p>
					</label>
					<label class="form-control checkbox-user" for="checkbox">
						<input type="checkbox" name="setConnect" checked/>
						<p onclick="toggleSetConnect()">Connect After Created</p>
					</label>
				</div>
                <label class="msg-label">
                    <p class="msg" id="create-msg"></p>
                </label>
				<input type="cancel"  value="Cancel"  onclick="window.location.hash = '#manage'" readonly>
                <input type="submit" value="Create" class="create-user">
            </form>
		</div>
		<div class="card" id="confirm" style="display: none;">
			<h1 id="confirm-title">Confirm Table</h1>
			<h2 id="confirm-info"></h2>
			<form action="/admin/manage" method="post">
				<div class="user-card changeusername-card">
                    <label class="user-lable icon-login-user"><i class="fa-solid fa-user"></i></label>
                    <input type="text" name="username" placeholder="USERNAME" id="changeusername" required disabled>
                </div>
				<div class="user-card changetype-card">
                    <label class="user-lable icon-login-user">Type</label>
                    <input type="text" name="changetype" placeholder="NAN" id="changetype" required disabled>
                </div>
				<div class="user-card changevalue-card">
                    <label class="user-lable icon-login-user">Value</label>
                    <input type="text" name="changevalue" placeholder="NAN" id="changevalue" required disabled>
                </div>
				<div class="user-card changepassword-card">
                    <label class="user-lable icon-login-user"><i class="fa-solid fa-lock"></i></label>
                    <input type="password" name="changepassword" placeholder="PASSWORD" id="changepassword" minlength="6" required disabled>
                </div>
				<div class="user-card changepasswordCheck-card">
                    <label class="user-lable icon-login-user"><i class="fa-solid fa-lock"></i></label>
                    <input type="password" name="changepasswordCheck" placeholder="PASSWORD AGAIN" id="changepasswordCheck" minlength="6" required disabled>
                </div>
				<input type="cancel"  value="Cancel"  onclick="window.location.hash = '#manage'" readonly>
				<input class="submit" type="submit" value="Confirm" id="confirm-submit">
			</form>
		</div>
	</body>
</html>