<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <title>Login</title>
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
        <link href="/code-server-plus/views/style/global.css" rel="stylesheet" type="text/css">
        <!-- include the js file -->
    </head>
    <body>
        <div class="card">
            <h1>Welcome to Code-Server-Plus</h1>
            <form action="/login" method="post">
                <div class="user-card">
                    <label class="user-lable icon-login-user"><i class="fa-solid fa-user"></i></label>
                    <input type="text" name="username" placeholder="USERNAME" id="username" required>
                </div>
                <div class="user-card">
                    <label class="user-lable icon-login-user"><i class="fa-solid fa-lock"></i></label>
                    <input type="password" name="password" placeholder="PASSWORD" id="password" required>
                </div>
                <label class="form-control checkbox-user" for="checkbox">
                    <input type="checkbox" name="toAdmin"/>
                    <p onclick="toggleToAdmin()">Login to Admin Panel</p>
                </label>
                <label class="msg-label">
                    <p class="msg msg-error" id="msg-error"></p>
                </label>
                <label class="msg-label">
                    <p class="msg msg-reminder" id="msg-reminder"></p>
                </label>
                <input type="submitDisable" value="Login" id="submit" disabled>
            </form>
        </div>
    </body>
</html>
