.message {
  width: 400px;
  /* background-color: #fbfdf8; */
  /* box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3); */
  margin: 200px auto;
}
.message h1 {
  text-align: left;
  color: #fbfdf8;;
  font-size: 24px;
  padding: 0 0 0 30px;
  /* border-bottom: 1px solid #dee0e4; */
}
h2 {
  text-align: left;
  color: #666666;;
  font-size: 16px;
  padding: 0 30px 0 30px;
  font-weight: normal;
  /* border-bottom: 1px solid #dee0e4; */
}

.create_user {
    width: 400px;
    background-color: #fbfdf8;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 50px auto;
}
.create_user h1 {
    text-align: left;
    color: #444444;
    font-size: 24px;
    padding: 30px 0 20px 30px;
    border-bottom: 1px solid #dee0e4;
}

.create_user #error {
    text-align: left;
    color: red;
    font-size: 16px;
    padding: 0 0 0 0;
    margin-top: -10px;
    margin-bottom: 0px;
}

.create_user #attempt {
    text-align: left;
    color: #cccc00;
    font-size: 16px;
    padding: 0 0 0 0;
    margin-top: -20px;
    margin-bottom: 0px;
}

.create_user form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
/* .create_user form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #d69f27;
    color: #ffffff;
} */

/* .create_user form label[for=user] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3578ca;
  color: #ffffff;
} */

/* .create_user form label[for=user]:hover {
  background-color: #d69f27;
} */

/* .create_user form label[for=admin] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #d69f27;
  color: #ffffff;
} */

/* .create_user form label[for=admin]:hover {
  background-color: #3578ca;
} */

/* .create_user form label[for=delete] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #666666;
  color: #ffffff;
} */
/* .create_user form label[for=delete]:hover {
  background-color: red;
} */

/* .create_user form label[for=connect] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #6eee47;
  color: #ffffff;
}
.create_user form label[for=connect]:hover {
  background-color: #999999;
} */

/* .create_user form label[for=disconnect] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #999999;
  color: #ffffff;
}
.create_user form label[for=disconnect]:hover {
  background-color: #6eee47;
} */

/* .create_user form label[for=key] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #d69f27;
  color: #ffffff;
}
.create_user form label[for=key]:hover {
  color: #333333;
} */

/* .create_user form label[for=user] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3578ca;
  color: #ffffff;
} */
.create_user form label.newuser {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3578ca;
  color: #ffffff;
}
.create_user form label.newadmin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #d69f27;
  color: #ffffff;
}

.create_user form label p#msg {
  color: green;
  font-weight: bold;
}

.create_user form label[for=error] {
  display: flex;
  width: 300px;
  height: 10px;
  background-color: #ffffff00;
  flex-wrap: nowrap;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
}

.create_user form label[for=checkbox] {
    display: flex;
    width: 300px;
    height: 10px;
    background-color: #ffffff00;
    margin-top: -5px;
    color: #757575;
    flex-wrap: nowrap;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
}



.create_user form input[type="password"], .create_user form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.create_user form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #3578ca;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.create_user form input[type="submit"]:hover {
  background-color: #2868c7;
  transition: background-color 0.2s;
}

.create_user form input[type="submit"].newuser {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  background-color: #3578ca;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.create_user form input[type="submit"].newadmin {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  background-color: #d69f27;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}


.create_user form input[type="submit"].newuser:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

.create_user form input[type="submit"].newadmin:hover {
  background-color: #9e751c;
    transition: background-color 0.2s;
}



.header, .footer {
  background-color: grey;
  color: white;
  padding: 15px;
  font-weight: bold;
  font-size: 24px;
  padding-left: 10%;
}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.menu {
  width: 20%;
  min-width: 150px;
  float: right;
  position: fixed;
  padding: 100px 0 0 10%;
}

.content {
  width: 75%;
  padding: 0 0 0 30%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #fbfdf8;
  color: #444444;
  font-weight: bold;
}

.menu li:hover {
  background-color: #efe9ba;
}

.user-card{
  display: flex;
  flex-direction: row;
}

.user-info {
  width: 160px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
  background-color: rgb(247, 249, 245);
  color: #555555;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.user-lable{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.user-lable:hover {
  cursor: pointer;
}
.icon-user:hover{
  background-color: #d69f27;
  color: #ffffff;
}
.icon-user{
  background-color: #3578ca;
  color: #ffffff;
}

.icon-admin{
  background-color: #d69f27;
  color: #ffffff;
}

.icon-admin:hover{
  background-color: #3578ca;
  color: #ffffff;
}

.icon-connect{
  background-color: #6eee47;
  color: #ffffff;
}

.icon-connect:hover{
  background-color: #999999;
  color: #ffffff;
}

.icon-disconnect{
  background-color: #999999;
  color: #ffffff;
}

.icon-disconnect:hover{
  background-color: #6eee47;
  color: #ffffff;
}

.icon-key{
  background-color: #b68315;
  color: #ffffff;
}

.icon-key:hover{
  background-color: #b68315;
  color: #333333;
}

.icon-delete{
  background-color: #666666;
  color: #ffffff;
}


.icon-delete:hover{
  background-color: red;
  color: #ffffff;
}

.create_user form input[type="cancel"] {
  width: 100%;
  padding: 15px;
  background-color: #dee0e4;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #666666;
  transition: background-color 0.2s;
}
.create_user form input[type="cancel"]:hover {
  background-color: #666666;
  color: #dee0e4;
  transition: background-color 0.2s;
}

.create_user form .delete[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: red;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.create_user form .delete[type="submit"]:hover {
background-color: #c10505;
transition: background-color 0.2s;
}